{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Patient Display Details{% endblock %}</h1>
{% endblock %}

{% block content %}



  {% for x in SHOW %}
    <article class="post">
      <p class="body">Id = {{ x['P_ID'] }}</p>
      <p class="body">Name = {{ x['Name'] }}</p>
      <p class="body">DOB = {{ x['DOB'] }}</p>
      <p class="body">Sex = {{ x['Sex'] }}</p>
      <p class="body">Address = {{ x['Address'] }}</p>
      <p class="body">Date_admit = {{ x['Date_admit'].strftime('%Y-%m-%d') }}</p>
      <p class="body">Date_Discharged = {{ x['Date_Discharged'] }}</p>
      
      
      

      {% for YY in GG %}
        {% if x['D_ID'] == YY["D_ID"] %}
          <p class="body">Treated  By   =  {{ YY['Name'] }}</p>

      {% endif %}
      {% endfor %}
     
      {% for YY in FF %}
        {% if x['P_ID'] == YY["P_ID"] %}
          <p class="body">Contact  =   : {{ YY['Contact'] }}</p>

      {% endif %}
      {% endfor %}


      {% for YY in KK %}
      {% if x['Ward_ID'] == YY["Ward_ID"] %}
        <p class="body">Ward Type   =  {{ YY['Room_type'] }}</p>

      {% endif %}
      {% endfor %}
        
      



      
     
      
     
      
      
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}





