{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Department{% endblock %}</h1>
{% endblock %}

{% block content %}
<li><a href="{{ url_for('department.register') }}">Register</a>
  <br></br>
  <li><a href="{{ url_for('department.show') }}">Department Display Details</a>
    <br></br>
  <li><a href="{{ url_for('department.display') }}">Display ALL  Doctor From Department </a>
    <br></br>
  <li><a href="{{ url_for('department.delete') }}">Delete </a>
    <br></br>






{% endblock %}
