{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Nurse Display Details{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for x in SHOW %}
    <article class="post">
      <p class="body">Id = {{ x['N_ID'] }}</p>
      <p class="body">Name = {{ x['Name'] }}</p>
      <p class="body">DOB = {{ x['DOB'] }}</p>
      <p class="body">Sex = {{ x['Sex'] }}</p>
      <p class="body">Address = {{ x['Address'] }}</p>
      <p class="body">Salary = {{ x['Salary'] }}</p>
      
      
      

      {% for YY in GG %}
      {% if x['Ward_ID'] == YY["Ward_ID"] %}
        <p class="body">Ward Name  =   : {{ YY['Room_type'] }}</p>
      {% endif %}
      {% endfor %}
   


      {% for YY in FF %}
        {% if x['N_ID'] == YY["N_ID"] %}
          <p class="body">Contact  =   : {{ YY['Contact'] }}</p>
      {% endif %}
      {% endfor %}
     

      
      
      
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


