{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Doctor Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" required>

    <label for="sex">Sex</label>
    <input name="sex" id="sex" required>

    <label for="address">Address</label>
    <input name="address" id="address" required>

    <label for="dob">DOB</label>
    <input name="dob" id="dob" required>

    <label for="salary">Salary</label>
    <input name="salary" id="salary" required>

    <label for="Dept_ID">Department ID</label>
    <input name="Dept_ID" id="Dept_ID" required>

    <label for="Contact">Contact Number </label>
    <input name="Contact" id="Contact" required>

    
   

    <input type="submit" value="Register">
  </form>
{% endblock %}